:host {
  width: 100%;
}

.editHome {
  position: absolute;
  top: var(--navbar-height);
  left: calc(100% - 60px);
  font-size: 12px;

  .fa-x {
    font-size: 13px;
  }

  .fa-house {
    font-size: 11px;
  }
}