@if (fieldDetails$ | async; as field) {
<div>
  <div class="name-container flex mb-6 mt-0">
    @if (!isNameEditing) {
      <div class="text-3xl font-bold">{{ field.name }}</div>
      <i 
        (click)="isNameEditing = !isNameEditing"
        class="fa-solid fa-pen ml-4 my-auto text-xs cursor-pointer opacity-0">
      </i>
      <div [style]="{ background: field.color }" class="w-5 h-5 ml-4 my-auto"></div>
    } @else {
      <input 
        (keyup.enter)="onNameEdit(field.name)"
        class="text-3xl font-bold w-1/2" 
        matInput 
        autofocusOnElement 
        type="text" 
        [(ngModel)]="field.name">
      <i 
        (click)="isNameEditing = false"
        class="fa-solid fa-x ml-4 font-semibold my-auto text-sm cursor-pointer opacity-0">
      </i>
      <i 
        (click)="onNameEdit(field.name)"
        class="fa-solid fa-check ml-4 font-semibold my-auto text-sm  cursor-pointer opacity-0">
      </i>
    }
  </div>
  <div class="info-container">
    <span class="text-lg font-medium label">Pole powierzchni: </span>
    <span class="text-lg font-bold info ml-4">{{ field.area | hectare:4 }}</span>
  </div>
  <div class="info-container">
    <span class="text-lg font-medium label">Utworzone: </span>
    <span class="text-lg font-bold info ml-4">{{ field.createdAt | date: 'dd/MM/yyyy' }}</span>
  </div>
  <div class="info-container flex">
    <span class="text-lg font-medium label">Klasa ziemi: </span>
    @if (!isSoilClassEditing) {
      <span class="text-lg font-bold info ml-4">{{ field.fieldClass | soilClass }}</span>
    } @else {
      <mat-select
        (selectionChange)="onSoilClassSelected($event)" 
        class="text-lg font-medium ml-4" [(value)]="field.fieldClass">
        @for (soilClass of soilClasses; track soilClass) {
          <mat-option [value]="soilClass">{{ soilClass | soilClass }}</mat-option>
        }
      </mat-select>
    }
    <i 
      (click)="isSoilClassEditing = !isSoilClassEditing"
      class="fa-solid fa-pen ml-4 my-auto text-xs cursor-pointer hidden">
    </i>
  </div>
  <div class="info-container flex">
    <span class="text-lg font-medium label">Status posiadania: </span>
    @if (!isOwnershipStatusEditing) {
      <span class="text-lg font-bold info ml-4">{{ field.ownershipStatus | ownershipStatus }}</span>
    } @else {
      <mat-select
        (selectionChange)="onOwnershipStatusSelected($event)" 
        class="text-lg font-medium ml-4" [(value)]="field.ownershipStatus">
        @for (ownershipStatus of ownershipStatuses; track ownershipStatus) {
          <mat-option [value]="ownershipStatus">{{ ownershipStatus | ownershipStatus }}</mat-option>
        }
      </mat-select>
    }
    <i 
      (click)="isOwnershipStatusEditing = !isOwnershipStatusEditing"
      class="fa-solid fa-pen ml-4 my-auto text-xs cursor-pointer hidden">
    </i>
  </div>
  <div class="info-container">
    <span class="text-lg font-medium label">Adres: </span>
    <span class="text-base font-bold info ml-4">{{ field.address | address }}</span>
  </div>
</div>
<div class="mt-auto flex">
  <div class="ml-auto">
    <span (click)="onEditFieldBorders()" class="primary-button">Edytuj granicę</span>
    <span (click)="onDelete()" class="delete primary-button ml-2">Usuń</span>
  </div>
</div>
} @else {
  <div class="skeleton-content h-9 w-60"></div>
  <div class="skeleton-content h-6 w-96 mt-6"></div>
  <div class="skeleton-content h-6 w-80 mt-4"></div>
  <div class="skeleton-content h-6 w-96 mt-4"></div>
  <div class="skeleton-content h-6 w-72 mt-4"></div>
  <div class="skeleton-content h-6 w-96 mt-4"></div>
}
