:host {
  padding: var(--dialog-content-padding);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  color: #353333;
}

.info-container {
  margin-top: 12px;
}

.info-container:hover {
  i {
    display: inline-block;
  }
}


.delete {
  background-color: var(--delete-color);
}

.delete:hover {
  background-color: var(--delete-color-hover);
}

.mat-mdc-select {
  font-size: 18px !important;
  font-weight: 700 !important;
}