:host {
  padding: var(--dialog-content-padding);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  color: #353333;
}

.info-container {
  margin-top: 12px;
}

.delete {
  background-color: var(--delete-color);
}

.delete:hover {
  background-color: var(--delete-color-hover);
}