@if (fieldDetails$ | async; as field) {
<div>
  <div class="flex mb-6">
    <div class="text-4xl font-bold">{{ field.name }}</div>
    <div [style]="{ background: field.color }" class="w-5 h-5 ml-4 my-auto"></div>
  </div>
  <div class="info-container">
    <span class="text-lg font-medium label">Pole powierzchni: </span>
    <span class="text-lg font-bold info ml-4">{{ field.area | hectare:4 }}</span>
  </div>
  <div class="info-container">
    <span class="text-lg font-medium label">Utworzone: </span>
    <span class="text-lg font-bold info ml-4">{{ field.createdAt | date: 'dd/MM/yyyy' }}</span>
  </div>
  <div class="info-container">
    <span class="text-lg font-medium label">Klasa ziemi: </span>
    <span class="text-lg font-bold info ml-4">{{ field.fieldClass | soilClass }}</span>
  </div>
  <div class="info-container">
    <span class="text-lg font-medium label">Status posiadania: </span>
    <span class="text-lg font-bold info ml-4">{{ field.ownershipStatus | ownershipStatus }}</span>
  </div>
  <div class="info-container">
    <span class="text-lg font-medium label">Adres: </span>
    <span class="text-base font-bold info ml-4">{{ field.address | address }}</span>
  </div>
</div>
<div class="mt-auto flex">
  <div class="ml-auto">
    <span class="primary-button">Edytuj granicę</span>
    <span class="delete primary-button ml-2">Usuń</span>
  </div>
</div>
}
