:host {
  display: flex;
  flex-direction: column;
}

.chart-container {
  padding: var(--side-panel-sections-padding);
}

.chart {
  background-color: var(--primary-color);
  height: 250px;
}

app-fields {
  max-height: 100%;
  overflow-y: hidden;
}