@if(onEditingFieldMode()) {
  <span class="flex">
    <span class="option flex" (click)="discardFieldVericesEditing()">
      <i class="fa-solid fa-x my-auto"></i>
      <span class="ml-2">Anuluj</span>
    </span>
    <span class="option flex ml-2" (click)="editFieldVertices()">
      <i class="fa-solid fa-check my-auto"></i>
      <span class="ml-2">Zaakceptuj</span>
    </span>
  </span>
} @else {
  @if(!onAddingMode) {
    <span class="option" (click)="onAddNewField()">
      <i class="fa-solid fa-plus"></i>
      <span class="ml-2">Dodaj nowe pole</span>
    </span>
  } @else {
    <span class="option" (click)="discardAddingField()">
      <i class="fa-solid fa-x"></i>
      <span class="ml-2">Anuluj</span>
    </span>
  }
}
