.weather-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.rain-forecast {
  font-size: 13px;
}

.rain {
  font-size: 8px;
  height: 8px;
  width: 8px;
  margin: auto 0px;
  position: relative;
  top: -1px;
}