.weather-icon {
  font-size: var(--field-weather-icon-size);
  height: var(--field-weather-icon-size);
  width: var(--field-weather-icon-size);
}

.rain-forecast {
  font-size: 13px;
}

.rain {
  font-size: var(--field-rain-icon-size);
  height: var(--field-rain-icon-size);
  width: var(--field-rain-icon-size);
  margin: auto 0px;
  position: relative;
  top: -1px;
}