$rain-icon-size: 8px;
$weather-cion-size: 36px;

.weather-icon {
  font-size: $weather-cion-size;
  height: $weather-cion-size;
  width: $weather-cion-size;
}

.rain-forecast {
  font-size: 13px;
}

.rain {
  font-size: $rain-icon-size;
  height: $rain-icon-size;
  width: $rain-icon-size;
  margin: auto 0px;
  position: relative;
  top: -1px;
}