:host {
  display: flex;
}

.content {
  padding: var(--dialog-content-padding);
  padding-bottom: 1rem;
}

mat-select, input {
  border-radius: 12px;
  border: 1px solid black;
  margin: 0px;
  padding: 0.5rem;
  width: 100%;
}

.primary-button {
  font-size: 18px;
}