:host {
  display: grid;
  grid-template-columns: var(--side-panel-width) auto;
  grid-template-rows: var(--navbar-height) calc(100vh - var(--navbar-height));
}

app-navbar {
  grid-column: 1 / span 2;
}
