@if (loaded()) { 
  <div class="flex justify-between">
    <div>
      <div class="flex">
        <span class="text-2xl font-bold">Pola uprawne</span>
        &nbsp;
        <span class="my-auto text-secondary ml-2">({{ fields().length }})</span>
      </div>
      <span class="text-secondary text-sm font-medium">{{ hectares() | hectare }}</span>
    </div>
    <span class="primary-button m-auto mr-0">Filtruj</span>
  </div>
  <div class="fields mt-3">
    @for (field of fields(); track $index) {
      <app-field
        class="mb-1"
        [field]="field">
      </app-field>
    }
  </div>
  <div class="footer"></div>
} @else {
  <div class="flex justify-between">
    <div>
      <div class="flex">
        <span class="h-6 w-40 skeleton-content"></span>
        &nbsp;
        <span class="my-auto ml-2 h-4 skeleton-content w-10"></span>
      </div>
      <span class="h-4 w-11 mt-2 skeleton-content block"></span>
    </div>
  </div>
  <div class="fields mt-3">
    <div class="mb-3 h-8 w-full skeleton-content"></div>
    <div class="mb-3 h-8 w-full skeleton-content"></div>
    <div class="mb-3 h-8 w-full skeleton-content"></div>
    <div class="mb-3 h-8 w-full skeleton-content"></div>
    <div class="mb-3 h-8 w-full skeleton-content"></div>
  </div>
}
