:host {
  background-color: var(--primary-color);
  height: var(--navbar-height);
  display: flex;
  padding: 0px 0px 0px 20px;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: 'Lobster', sans-serif;
  font-size: 32px;
  color: white;
}

.search-bar {
  width: 630px;
  height: calc(var(--navbar-height) * 0.55);
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

.controls {
  color: white;
}

.controls:hover {
  cursor: pointer;
  background-color: var(--dark-color);
}