$weather-icon: 48px;

:host {
  padding: var(--side-panel-sections-padding);
  display: grid;
}

mat-icon {
  font-size: $weather-icon;
  width: $weather-icon;
  height: $weather-icon;
}

.skeleton-icon {
  width: $weather-icon;
  height: $weather-icon;
}