<div class="flex">
  <mat-icon svgIcon="sun" class="mr-4"></mat-icon>
  <div class="flex flex-col">
    <p class="text-2xl font-normal">Słonecznie</p>
    <p class="address text-secondary">Żebry Kordy</p>
  </div>
</div>
<div class="flex justify-between mt-6 mx-6">
  @for (forecast of forecasts; track $index) {
    <app-day-forecast
      [day]="forecast.day"
      [icon]="forecast.icon"
      [temperature]="forecast.temperature"
      [rainForecast]="forecast.rainForecast">
    </app-day-forecast>
  }
</div>
