$field-radius: 8px;

:host {
  background-color: #FAF5F5;
  display: flex;
  border-radius: $field-radius 6px 6px $field-radius;
}

.color {
  border-radius: $field-radius 0px 0px $field-radius;
  width: 10px;
}