$field-radius: 8px;
$dots-icon-size: 16px;

:host {
  background-color: #FAF5F5;
  display: flex;
  border-radius: $field-radius 6px 6px $field-radius;
  margin-right: 11px;
}

.color {
  border-radius: $field-radius 0px 0px $field-radius;
  width: 10px;
}

.dots {
  font-size: $dots-icon-size;
  height: $dots-icon-size;
  width: $dots-icon-size;
}