<div class="flex items-start">
  <div class="text-4xl font-bold">Historia</div>
  <div class="primary-button ml-auto my-auto">Filtruj</div>
</div>
<div class="mt-4 grid gap-1 history">
  @if (historyLoaded) {
    @if (history.length > 0) {
      <app-harvest-history-record></app-harvest-history-record>
      <app-harvest-history-record></app-harvest-history-record>
      <app-harvest-history-record></app-harvest-history-record>
      <app-harvest-history-record></app-harvest-history-record>
      <app-harvest-history-record></app-harvest-history-record>
      <app-harvest-history-record></app-harvest-history-record>
      <app-harvest-history-record></app-harvest-history-record>
      <app-harvest-history-record></app-harvest-history-record>
    } @else {
      <div class="text-center w-full text-base mt-3">Brak wpisów!</div>
    }
  } @else {
    <div class="skeleton w-full h-7"></div>
    <div class="skeleton w-full h-7"></div>
    <div class="skeleton w-full h-7"></div>
    <div class="skeleton w-full h-7"></div>
  }
</div>
<div class="footer"></div>
<div class="flex w-full mt-auto">
  <div class="relative ml-auto left-2 top-2">
    <div class="">
      <div class="add-record rounded-full secondary p-3 cursor-pointer">
        <div class="w-4 h-4 flex">
          <i class="fa-solid fa-plus text-base text-white m-auto relative bottom-1"></i>
        </div>
      </div>
    </div>
  </div>
</div>