:root {
  // colors
  --primary-color: #557153;
  --secondary-color: #7D8F69;
  --skeleton-color: #D9D9D9;

  --navbar-height: 48px;
  --side-panel-width: 380px;
  --side-panel-sections-padding: 14px;

  --field-rain-icon-size: 8px;
  --field-weather-icon-size: 36px;
}