:root {
  // colors
  --primary-color: #557153;
  --dark-color: #445343;
  --secondary-color: #7D8F69;
  //--skeleton-color: #D9D9D9;
  --skeleton-color: #e9e8e8;
  --delete-color: #A5371E;
  --delete-color-hover: #632517;

  --dialog-content-padding: 30px 24px;
  --dialog-border-radius: 12px;
  --navbar-height: 48px;
  --side-panel-width: 380px;
  --side-panel-sections-padding: 14px;

  --field-rain-icon-size: 8px;
  --field-weather-icon-size: 36px;
}