<div class="dialog-content">
  <div class="controls flex">
    <div class="options flex">
      <span class="option" [class.focus]="tabId === 1" (click)="onChangeTab(1)">Informacje</span>
      <span class="option" [class.focus]="tabId === 2" (click)="onChangeTab(2)">Statystyki</span>
    </div>
    <div class="close w-full">
      <!-- <i (click)="onDialogClose()" class="fa-solid fa-x ml-auto my-auto px-4"></i> -->
      <mat-icon #closeIcon svgIcon="close" (click)="onDialogClose()" class="ml-auto my-auto mr-2 cursor-pointer"></mat-icon>
    </div>
  </div>
  @if (tabId === 1) {
    <div class="field-info">
      <app-field-details-info [fieldId]="fieldId"></app-field-details-info>
      <div class="vl"></div>
      <app-field-details-history 
        class="h-full" 
        [fieldId]="fieldId">
      </app-field-details-history>
    </div>
  } @else if (tabId === 2) {
    <div class="flex flex-col dialog-padding h-full">
      <div class="text-4xl text-center font-bold">Pracujemy nad tą kartą.</div>
      <div class="text-xl text-center mt-3">Zajrzyj tutaj później!</div>
      <div class="mt-auto ml-auto">
        <img class="object-fill w-80 h-80" src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Two-gear-icon.png" alt="gears">
      </div>
    </div>
  }
</div>
